# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Deployment files
*.zip
dist

# Autotools
*.in*
aclocal.m4
autom4te.cache
compile
configure
depcomp
install-sh
missing
