Source: pixelserv-tls
Section: web
Priority: extra
Maintainer: kvic (https://github.com/kvic-z)
Build-Depends: debhelper (>= 9), dh-autoreconf, libssl-dev (>= 1.1.0)
Standards-Version: 3.9.8
Homepage: https://kazoo.ga/pixelserv-tls/

Package: pixelserv-tls
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A tiny bespoke webserver for adblock
  pixelserv-tls is a tiny bespoke HTTP/1.1 webserver with HTTPS support that
  acts on behalf of hundreds of thousands of advertisement/tracker servers. It 
  responds to all requests with nothing and can be configured to capture what 
  ad networks and trackers intend to send them about you.
